<div class="container-fluid background_beige py-3">
  <div class="row">
    <div class="mx-auto">
      <%= render "public/users/topbar",user: @user %>
    </div>
  </div>
</div>
<div class="container-fluid py-2 background_lightbeige">
  <div class="row mt-4">
    <div class="col-md-3 pb-4">
      <%= render "public/users/sidebar",user: @user %>
    </div>
    <div class="col-md-8">
      <div class="h3">フォロワー一覧</div>
      <%= render "public/users/index",users: @users %>
    </div>
  </div>
</div>