<%= flash[:notice] %>

<div class="h1">ここはアバウトページです</div>

<div class="h4">
サイト概要<br>
このサイトはイラストのレビューサイトです。イラストが上手くなりたいユーザが、自分の絵を上達を実感できるように、<br>
ゲームにおけるレベリングのようなシステムを導入することでモチベーションの維持を計ります。<br>
また、イラスト制作における各種工程（アタリ・下書き・線画・配色・仕上げ）をそれぞれアップロードすることにより、<br>
各工程における細かい評価ができるようになっております。<br>
これにより、得意なところは評価されモチベーションアップにつながり、不得意なところは客観的に把握できるため、自身の練習のための参考となります。<br>
</div>