<div class="container-fluid py-2">
  <div class="row mt-4">
    <div class="col-8 offset-md-2">
      <%= flash[:notice] %>
      <%= render "index",title: "投稿一覧",posts: @posts %>
    </div>
  </div>
</div>