@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #464646;
  font-family: 'ヒラギノ丸ゴ ProN',sans-serif;
}

/*フッタを常に下に表示したい*/
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.background_beige{
  background-color: #C8BCA6;
}

.background_yellow{
  background-color: #E8CA3D;
}

.background_lightbeige{
  background-color: #E4DDD4;
}

/*aタグの中身（リンク）を青くしたくない*/
a{
  color: inherit;
}

/*画像を正方形で表現したい*/
.image{
	height: 200px;
	width: 200px;
	object-fit: cover;
}

/*ページネーション自体のデザイン*/
.pagination a {
  border: none;     /*枠線をなくす*/
  background: none;
  border-radius: 30px !important;     /*角を丸くする*/
  color: #464646;
}

/*ホバー時のデザイン*/
.pagination li a:hover {
  background-color: #C8BCA6;     /*背景の色を変える*/
  color: #464646;
}

/*現在のページの数字のところのデザイン*/
.active a{
  background: #E8CA3D !important;
  color: #464646 !important;
}

/*画像にマウスが乗っているときに白っぽくし、拡大する*/
.img_prev:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.01, 1.01);
}

/*投稿した画像をリサイズする*/
.img_field{
    height: 150px;
    width: auto;
  }

.illust_back{
  position: relative;
}

.icon_front{
  position: absolute;
  top: 150px;
  left: 50px;
}

// 余分なページの空間の背景色をいい感じの色にする
main{
  background-color: #E4DDD4;
}

// 文字をとても小さく
.small-text{
  font-size: 7px;
}