/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #464646;
  font-family: 'ヒラギノ丸ゴ ProN',sans-serif;
}

.background_beige{
  background-color: #C8BCA6;
}

.background_yellow{
  background-color: #E8CA3D;
}

.background_lightbeige{
  background-color: #E4DDD4;
}

/*aタグの中身（リンク）を青くしたくない*/
a{
  color: inherit;
}

/*画像を正方形で表現したい*/
.image{
	height: 200px;
	width: 200px;
	object-fit: cover;
}

/*ページネーション自体のデザイン*/
.pagination a {
  border: none;     /*枠線をなくす*/
  background: none;
  border-radius: 30px !important;     /*角を丸くする*/
  color: #464646;
}

/*ホバー時のデザイン*/
.pagination li a:hover {
  background-color: #C8BCA6;     /*背景の色を変える*/
  color: #464646;
}

/*現在のページの数字のところのデザイン*/
.active a{
  background: #E8CA3D !important;
  color: #464646 !important;
}

/*画像にマウスが乗っているときに白っぽくし、拡大する*/
.img_prev:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.01, 1.01);
}

/*投稿した画像をリサイズする*/
.img_field{
    height: 150px;
    width: auto;
  }
