<div class="container-fluid py-2">
  <%= flash[:notice] %>
  <div class="row mt-4">
    <div class="col d-flex flex-column align-items-center overflow-auto">
      <%= render "admin/users/index", users: @users %>
    </div>
  </div>
</div>